#txtSearchBar {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #2b2b2a;
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 12.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 ;

}

#vboxDownloadList {
    -fx-background-color: #1C1C1C;
}

.dialog-pane {
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

/**Costumization of The Bar where the buttons are located**/

.dialog-pane>.button-bar>.container {
    -fx-background-color: black;
}

.dialog-pane>.content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-font-size: 15.0px;
}

/**Costumization of DialogPane Header**/

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-background-color: yellow;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-font-size: 15.0px;
}

/**Costumization of Buttons**/

.dialog-pane .button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.root {
    -fx-background-color: #1C1C1C;
}

.menuGridPane {}

.fetchPanel {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
}

.downloadPanel {}

.lineBar {
    -fx-stroke: white;
    -fx-stroke-width: 1.5;
}

.background {
    -fx-background-color: #1C1C1C;
}

.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.image-panel-title {
    -fx-font-size: 11.0pt;
    -fx-text-align: center;
    -fx-font-family: "Passion One";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.label-bright {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.label-header {
    -fx-font-size: 32.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.table-view {
    -fx-base: #1C1C1C;
    -fx-control-inner-background: #1C1C1C;
    -fx-background-color: #1C1C1C;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5.0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35.0;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80.0%) transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
}

.loading-progress-indicator {
    -fx-box-border: goldenrod;
}

.itensImagesAnchorPane {
    -fx-background-color: #1C1C1C;
}

.itensImagesScroll {
    -fx-background-color: #1C1C1C;
}

.menuSearch {
    -fx-background-color: #1C1C1C;
}

.scroll-pane :vertical .track {
    -fx-background-color: #1C1C1C;
}

.scroll-pane :vertical .thumb {
    -fx-background-color: #A32020;
    -fx-pref-height: 3.0;
}

.image-title {
    -fx-cursor: hand;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #A32020;
    -fx-pref-height: 2.0;
}

.table-view .virtual-flow .scroll-bar:vertical .track {
    -fx-background-color: #1C1C1C;
}

.table-view:focused .table-row-cell:focused {
    -fx-background-color: #1C1C1C;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .virtual-flow .scroll-pane :vertical .increment-button .increment-arrow, .decrement-button .decrement-arrow {
    -fx-padding: 0.0;
    -fx-background-color: transparent;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.scroll-pane :vertical .increment-button .increment-arrow, .decrement-button .decrement-arrow {
    -fx-padding: 0.0;
    -fx-background-color: transparent;
}

.scroll-pane :vertical .increment-button, .decrement-button {
    -fx-padding: 0.0;
    -fx-background-color: transparent;
}

.itensImagesGridPane {
    -fx-background-color: #1C1C1C;
}

.collectionGridPane {
    -fx-background-color: #1C1C1C;
}

.item-image {
    -fx-border-color: transparent;
    -fx-border-width: 2.0px 2.0px 2.0px 2.0px;
}

#tableItens .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header .label {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1.0;
}

.table-row-cell .label {
    -fx-alignment: center;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.table-view .table-row-cell:filled:hover {
    -fx-opacity: 1;
}

.table-view .table-row-cell:filled {
    -fx-opacity: 0.5;
}

.split-pane:horizontal>.split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d, 20.0%);
}

.split-pane {
    -fx-padding: 1.0 0.0 0.0 0.0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20.0%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50.0%);
}

.menu-bar .label {
    -fx-font-size: 14.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
}

.text-area {
    -fx-background-color: #1C1C1C;
    -fx-font-size: 10.0pt;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
}

.text-area .content {
    -fx-background-color: #1C1C1C;
}

.path {
    -fx-border-color: #A32020;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.label-title {
    -fx-font-size: 20.0pt;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #A32020;
    -fx-border-top-style: solid;
    -fx-padding: 0.0 22.0 5.0 22.0;
    -fx-opacity: 1;
}

.downloadInformation {
    -fx-font-size: 18.0pt;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #A32020;
    -fx-border-top-style: solid;
    -fx-padding: 0.0 22.0 5.0 22.0;
    -fx-opacity: 1;
}

.label-subtitle {
    -fx-font-size: 12.0pt;
    -fx-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #d22020;
    -fx-border-top-style: solid;
    -fx-padding: 0.0 22.0 3.0 22.0;
}

.table-view .table-cell {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.itens-table {
    -fx-font-size: 10.0px;
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30.0%);
}

.ringindicator:indeterminate {
    -fx-progress-color: #A32020;
    -fx-ring-width: 22.0;
    -fx-inner-radius: 60.0;
    -fx-opacity: 1;
}

.progress-bar .track {
    -fx-control-inner-background: #1C1C1C;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-color: #ffffff;
    ;
    -fx-border-top-style: solid;
    -fx-border-width: 1.5;
}

.super-fx-progress-bar {
    -fx-background-color: transparent;
    -fx-indeterminate-bar-animation-time: 1.0;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-length: 60;
    -fx-min-height: 5;
}

.progress-bar>.bar {
    -fx-background-insets: 1.5 1.5 1.5 2;
    -fx-background-color: #A32020;
    -fx-control-inner-background: #1C1C1C;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
}

.combo-box {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.combo-box .arrow {
    -fx-background-color: #e2e2e2;
}

.combo-box .arrow-button {
    -fx-padding: 0.0 1.50 0.0 1.0;
}

.combo-box:hover {
    -fx-background-color: #3a3a3a;
}

.combo-box:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30.0%);
}

.combo-box .virtual-flow .scroll-bar:vertical {
    -fx-background-color: #1C1C1C;
}

.combo-box .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #d22020;
    -fx-pref-height: 3.0;
}

.combo-box .virtual-flow .scroll-bar:vertical .track {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1 1 0 1;
}

.combo-box .virtual-flow .scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0.1;
}

.combo-box .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow {
    -fx-background-color: transparent;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #1C1C1C;
    -fx-opacity: 1;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-opacity: 0.9;
}